.find-icon {
  display: flex;
  justify-content: space-between;
}
.find-icon__icon {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icon__icon i {
  font-size: 35px;
}

.find-icon__icon span {
  margin-top: 18px;
  font-size: 20px;
  font-weight: 400;
}

.recommended-friends {
  color: var(--gray);
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main_border);
  border-bottom: var(--main_border);
}
.recommended-friends span {
  text-align: center;
  margin: 100px 0px;
  display: block;
  color: var(--gray);
  font-size: 18px;
}

.open-chat_header {
  display: flex;
  justify-content: space-between;
  color: var(--gray);
  margin-bottom: 20px;
}
.open-chat_header span {
  opacity: 0.6;
}
.open-post {
  display: flex;
  justify-content: space-between;
}

.open-post__title {
  margin-top: 20px;
  font-weight: 600;
  margin-bottom: 7px;
  text-transform: uppercase;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.7;
}
.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 7px;
}
.open-post__members img {
  border: var(--main_border);
  width: 13px;
  height: 13px;
  border-radius: 45%;
  margin-right: 3px;
}
.open-post__members-count {
  opacity: 0.7;
  font-size: 14px;
}
.open-post__members .divider {
  width: 2px;
  height: 14px;
  margin: 0px 5px;
  background-color: rgb(151, 151, 151);
}
.open-post__members-status {
  color: pink;
}

.open-post_room-img {
  width: 120px;
  height: 120px;
  border: var(--main_border);
  border-radius: 10px;
}

.open-post__photo {
  position: relative;
}

.open-post__photo div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 8px 10px;
  border-radius: 20px;
  width: 48px;
  position: absolute;
  bottom: 10px;
  right: 5px;
}

.open-post__photo div span {
  margin-left: 5px;
}
