#friend-display-list {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: -15px;
}
#friend-display-list .fa-info-circle {
  color: rgba(0, 0, 0, 0.3);
  margin-right: 5px;
}

#friend-display-list .fa-chevron-right {
  color: rgba(0, 0, 0, 0.3);
  margin-left: 10px;
}

.user-component__column__img__xl {
  width: 80px;
  height: 80px;
  border-radius: 33px;
}

.user-component__column__img__xs {
  width: 65px;
  height: 65px;
  border-radius: 28px;
}
.friends-screen__channel__notification span {
  margin-right: 5px;
}
.friends-screen__channel__header {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.3);
  margin-top: 15px;
  border-top: var(--main_border);
  padding-top: 15px;
  padding-bottom: 15px;
}
.user-component__column__text__title__xs {
  font-weight: 400;
}
@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.splash_screen {
  background-color: var(--yellow);
  top: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  animation: hideSplashScreen 1s ease-in-out forwards;
}
