.alt-header {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: 0px var(--horizontal_space);
  padding-top: 40px;
  font-size: 25px;
}
/* 컬럼에 margin-right : auto로도 간격이 분리될수 있음 */

.alt-header-column {
  width: 33%;
}

.alt-header-column:first-child {
  margin-right: auto;
}

.alt-header-column:nth-child(2) {
  text-align: center;
}
.alt-header-title {
  width: 100%;
}

.alt-header-column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
